:root {
  --inning-width: 60px;
  --spacing-width: 50px;
  --grid-gap: 20px;
}

.App {
  background-color: white;
  width: 1920px;
  height: 480px;
  display: flex;
  flex-direction: column;
}
.scoreboardRow {
  flex: 0 0 calc(480px / 3);
  display: grid;
  grid-template-columns:
        [player-number] 150px
        [team-name] 400px
        [innings-1-2-3] repeat(3, var(--inning-width)) var(--spacing-width)
        [innings-4-5-6] repeat(3, var(--inning-width))  var(--spacing-width)
        [innings-7-8-9] repeat(3, var(--inning-width))  var(--spacing-width)
        [inning-10] var(--inning-width) var(--spacing-width)
        [r-h-e] repeat(3, var(--spacing-width) var(--inning-width));
  grid-template-rows: 1fr;
}

.card {
  border: 1px solid black;
  /* border-left: 1px solid black; */
  text-align: center;
  line-height: calc(480px / 3);
  font-size: xx-large;
}