html {
  width: 1920px;
  height: 480px;
}
body {
  height: 100%;
}
#root {
  --font-size: 5em;
  --fenway-green: #54796d;
  --fenway-gray: #3b4336;


  height: 100%;
  background-color:  var(--fenway-green);
  
  /* The padding and line-height fix vertical alignment issues*/
  /* font-family: 'Martel Sans', sans-serif; padding-top: 20px; */
  /* font-family: 'Poppins', sans-serif; padding-top: 8px; */
  font-family: 'Ubuntu', sans-serif;

  color: white;
  font-size: var(--font-size);
  font-weight: bold;
  letter-spacing: -4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  --padding-horizontal-size: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2%;
  padding: 0px var(--padding-horizontal-size);
  flex-direction: column;
}

.scores {
  height: 70%;

  display: flex;
  flex-direction: column;
  gap: 7%;
}

.scoreboardRow {
  flex-grow: 1;
  /* height: 100%; */
  gap: 2%;
  display: grid;
  grid-template-columns:
        [player-number] 5%
        [team-name] 17%
        [innings-1-through-9] repeat(3, 14%)
        [inning-10] 4%
        [r-h-e] 20%;
}

.errorLinescore {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inning-group {
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}

.rhe-group {
  padding-left: 20%;

  display: flex;
  flex-direction: row;
  column-gap: 15%;
}

.card {
  flex-grow: 1;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inset {
  box-shadow: inset 2px -2px 2px 2px black;
  overflow: hidden;
}

.visitor-team {
  box-shadow: -2px 2px 2px 2px black;
  overflow: hidden;
}

.name {
  align-self: center;
  letter-spacing: 70px;
  font-weight: normal;
}

.active {
  color: yellow;
}

p {
  margin: 0;
}